@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::after, ::before{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

#add-circle-outline{
  font-size: 1.5rem;
}